.product {
  width: 1180px;
  max-width: 100%;
  display: flex;
  margin: 50px auto;

  .thumbnails {
    width: 75px;

    .thumbnail {
      width: 100%;
      padding-bottom: 100%;
      border: 1px solid #EEEEEE;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      cursor: pointer;

      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }
  }

  .left {
    margin-left: 25px;
    width: 50%;

    .image {
      width: 100%;
      padding-bottom: 80%;
      border: 1px solid #EEEEEE;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .description {
      
      h3 {
        font-weight: 600;
        font-size: 22px;
      }

      p {
        margin: 0;
      }

      .btn-read-more {
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }

  .right {
    margin-left: 35px;

    .user-info {
      font-size: 14px;
      color: #999999;

      a {
        color: #999999;
      }

      span {
        margin-left: 10px;
      }
    }
  }
}